.h4, h4 {
    font-size: 1.2rem;
}

.btn-add-user {
    margin-bottom: 0.5rem;
}

.back-button a {
    font-size: 20px;
    padding: 5px 5px 5px 0;
    font-weight: 500;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.page-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.container.home-menu {
    padding: 4px;
}

.card .dropdown-menu-end[data-bs-popper] {
    right: auto;
    left: 0;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.bg-white-main {
    --bs-bg-opacity: 1;
    background-color: #5F3B33;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

.header-menu .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
.table-secondary {
    --bs-table-bg: #fafafa;
    --bs-table-striped-bg: #ffffff;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #cbccce;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #d1d2d4;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #cbccce;
}

.dataTables_scroll {
    padding-top: 15px;
    padding-bottom: 15px;
}

ul li a i {
    margin-right: 5px;
}

.navbar-nav ul {
    margin-right: 15px;
}

.search-form {
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
}

form .row {
    margin-bottom: 30px;
}

.home-menu .collapse ul li .nav-link {
    text-transform: uppercase;
}

button i {
    margin-right: 5px;
}

.dt-body-status {
    max-width: 90px !important;
}

.dt-name {
    max-width: 110px !important;
}

.dt-body-number{
    max-width: 130px !important;
}

.dt-title {
    max-width: 150px !important;
}

.dt-mini {
    max-width: 25px !important;
}

.dt-id {
    max-width: 30px !important;
}

.dt-page {
    max-width: 120px !important;
}

th input {
    max-width: 100% !important;
}

th select {
    width: 100% !important;
}

.dt-hidden {
    display: none !important;
}

.search-form .col-md-12 {
    margin-bottom: 30px;
}

.dt-title input {
    width: 100% !important;
}

.form-group label {
    margin-bottom: 10px;
}

.navbar-light .navbar-nav .active .nav-link {
    color: #045772;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #5F3B33;
    font-weight: bold;
}

.text-frame {
    padding: 0.4rem;
    text-decoration: none;
    font-size: 0.7875rem;
    border-radius: 0.2rem;
    border: 1px solid #ced4da;
}

table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    white-space: nowrap;
}

.btn-footer {
    justify-content: flex-end;
}

.decoration-none {
    text-decoration: none;
}

.changed {
    background: antiquewhite !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > *.changed {
    --bs-table-accent-bg: antiquewhite !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    font-weight: bold;
    color: #5f3b33;
}

table.dataTable > thead .orderable-false:before,
table.dataTable > thead .orderable-false:after {
    content: none;
}

.title-secondary {
    margin-top: 35px;
}

.invalid {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.status-list {
    padding-top: 0;
    padding-bottom: 0;
}

tbody > tr:hover {
    font-weight: bold;
}

.loading {
    position: absolute;
    z-index: 10;
    margin-left: 30%;
    display: none;
}

#result {
    display: none;
}

.half-circle-spinner, .half-circle-spinner * {
    box-sizing: border-box;
}

.half-circle-spinner {
    width: 100px;
    height: 100px;
    margin: 0;
    border-radius: 100%;
    position: relative;
}

.half-circle-spinner .circle {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
}

.half-circle-spinner .circle.circle-1 {
    border-top-color: #36c6d3;
    -webkit-animation: half-circle-spinner-animation 1s infinite;
    animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
    border-bottom-color: #36c6d3;
    -webkit-animation: half-circle-spinner-animation 1s infinite alternate;
    animation: half-circle-spinner-animation 1s infinite alternate;
}

@-webkit-keyframes half-circle-spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes half-circle-spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bi {
    padding: 0.1rem 0.1rem;
}

.bi::before {
    font-size: 20px;
}

.button-kill {
    background-image: url(../images/stop.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    line-height: normal;
    height: 100px;
    width: 100px;
    color: #941a1a;
    text-decoration: none;
    text-align: right;
    z-index: 1000;
    position: absolute;
}
